<h1>Banks</h1>
<br>
<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Account #</th>
      <th>Routing #</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @banksname.each_with_index do |name, index| %>
    <tr>
      <td><%= index %></td>
      <td><%= name %></td>
      <td>12345</td>
      <td>54321</td>
      <td>
        <button type="button" class="btn-xs btn-danger">X</button>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<br>

<div class="panel panel-default">
  <div class="panel-body">
    <form>
      <div class="form-group">
        <label for="bankName">Bank Name</label>
        <input type="text" class="form-control" id="bankName" placeholder="Name">
      </div>
      <div class="form-group">
        <label for="accountNum">Account #</label>
        <input type="password" class="form-control" id="accountNum" placeholder="Account #">
      </div>
      <div class="form-group">
        <label for="routingNum">Routing #</label>
        <input type="password" class="form-control" id="routingNum" placeholder="Routing #">
      </div>
      <button type="submit" class="btn btn-default">Add</button>
    </form>
  </div>
</div>