<div class="panel panel-default">
  <div class="panel-heading"><strong>Bank Transfer</strong></div>
  <div class="panel-body">
    <form action="/bank_transfer" method="post">
      <div class="form-group">
        <label for="bank_id">Select Bank:</label>
        <select class="form-control" id="bank_id" name="bank_id">
          <% @banks.each_with_index do |bank, index| %>
                <option value=<%= bank.id %>><%= index+1 %>. <%= bank.bank_name %></option>
          <% end %>
        </select>
      </div>
      <div class="form-group">
        <label for="transfer_type">Transfer Type:</label>
        <select class="form-control" id="transfer_type" name="transfer_type">
          <option value="deposit">Deposit</option>
          <option value="withdraw">Withdraw</option>
        </select>
      </div>
      <div class="form-group">
        <label for="withdrawal_amount">Amount:</label>
        <input type="number" name="withdrawal_amount" class="form-control" id="withdrawal_amount" placeholder="">
      </div>
      <button type="submit" class="btn btn-default">Transfer</button>
    </form>
  </div>
</div>
