<h1>Login#index,</h1>
<p>Find me in app/views/login/index.html.erb</p>

<form action="/login" > <!-- add method="post" to make it not in the header -->
  First name:<br>
  <input type="text" name="username" value="">
  <br>
  Last name:<br>
  <input type="text" name="password" value="">
  <br><br>
  <input type="submit" value="Login">
</form>