<!DOCTYPE html>
<html>
<head>
  <title>VenmoLight</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="page-color">
  <div class="panel panel-default container-color horizontal-center" style="margin-top: 20px; width:90%">
    <nav id="navigationBar" class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-head">
          <div class="navbar-brand">
            <p class="base-color" style="font-size: 1.5em;">
              <b>
                VenmoLight
              </b>
            </p>
          </div>
        </div>
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">
              HOME
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">
              ACCOUNT
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/banks">
              BANKS
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/transfer">
              TRANSFERS
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </div>
</body>
</html>
